.Projects {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.projects-container {
    width: 65%;
    height: 120%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
    border-left: 7px double darksalmon;
    border-right: 7px double darksalmon;
}

.links-container {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 35px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(218, 216, 216);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}

.projects-container h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 55px;
    text-align: center;
}

.links-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.links-container a {
    font-size: 20px;
    padding: 10px;
    transition: all 0.4s ease;
}

.links-container a:hover {
    filter: drop-shadow(2px 2px 2px #585858);
}

.Projects article {
    display: flex;
    align-items: center;
}

.project-name {
    height: 150px;
}

.project-name span {
    display: flex;
    justify-content: center;
}

.project-name h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: table-cell;
    border-bottom: 1px solid black;
}

.project-name p {
    font-size: 20px;
    padding: 10px;
}

.examples {
    display: flex;
    flex-direction: column;
}

.examples img {
    width: 600px;
    height: 300px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}

@media (max-width: 993px) {
    .links-container {
        width: 92%;
        height: 100%;
        flex-direction: column;
    }

    .examples img {
        width: 400px;
        height: 200px;
    }
}

@media (max-width: 680px) {
    .links-container {
        flex-direction: column;
        align-items: center;
    }

    .examples img {
        width: 350px;
        height: 175px;
    }
}

@media (max-width: 566px) {
    .examples img {
        width: 300px;
        height: 150px;
    }
}