.Skills {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.skills-container {
    width: 65%;
    height: 140vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
    border-left: 7px double darksalmon;
    border-right: 7px double darksalmon;
}

.skills-container h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 55px;
}

.skill-img {
    width: 900px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 216, 216);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    border-radius: 5px;
}

.skill-img img {
    width: 70px;
    height: 70px;
}

.skill-img div {
    width: 300px;
    text-align: center;
}

.skill-img p {
    margin-top: 10px;
}

@media (max-width: 1448px) {
    .skill-img {
        width: 600px;
    }
}

@media (max-width: 1019px) {
    .skill-img {
        width: 300px;
        height: 1500px;
    }

    .skills-container {
        height: 210vh;
    }
}