.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #82A3E0;
  background: -webkit-linear-gradient(top left, #82A3E0, #5D5A5A);
  background: -moz-linear-gradient(top left, #82A3E0, #5D5A5A);
  background: linear-gradient(to bottom right, #82A3E0, #5D5A5A);
}
